.auth-tab-list {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin-bottom: 0;

	a {
		width: 100%;
		text-decoration: none;
		color: gray;

		&.active {
			span {
				font-weight: 500;
				color: magenta;
				padding-bottom: 8px;
			}
		}
	}
}